<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/dayjs.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/myscript.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.plugin.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='scripts/jquery.keypad.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style2.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style_tab.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/jquery.keypad.css')}}">
<title>AgriBecky</title>
</head>
<body oncontextmenu="return false;">
<!-- 設定画面 !-->
<div class="config_bg"></div>
<div class="config_window">
    <form>
        <div class="config_comment center">設定ウィンドウの外側をクリックするとこの画面は閉じます</div>
        <div class="right"><div class="config_confirm">決定</div></div>
        <b>強制点灯時間</b><br>
        <label>　日の出の　<input type="text" id="morning_offset" class="w05 right"></label> <label>分後からの<input type="text" id="morning_minutes" class="w05 right"></label>分間<br>
        <label>　日の入りの<input type="text" id="evening_offset" class="w05 right"></label> <label>分前までの<input type="text" id="evening_minutes" class="w05 right"></label>分間<br>
        <br>
        <b>天気感知間隔</b><br>
        <div class="config_comment">
        例　「10分間隔 6回」にすると、10分おきに光センサーの状態を取得し、<br>
        　　過去6回（60分）の天気を総合的に判断して<br>
        　　次の60分間について育成LEDを点灯させるか消灯させるか判断します<br>
        <br></div>
        <label>　天気感知　<input type="text" id="sensing_interval" class="w05 right"></label>分間隔で <label><input type="text" id="sensing_count" class="w05 right"></label>回<br>
        <br>
        <b>出力選択</b><br>
        <div class="config_comment">
        　本システムは4出力に対応しています　ほ場の規模に応じて出力を切ってください<br>
        <br></div>　
        <div class="btnOutput" id="output1">出力1</div>
        <div class="btnOutput" id="output2">出力2</div>
        <div class="btnOutput" id="output3">出力3</div>
        <div class="btnOutput" id="output4">出力4</div>
        <br>
    </form>
</div>
<!-- 工場設定画面 !-->
<div class="admin_window">
        <div class="config_comment center">設定ウィンドウの外側をクリックするとこの画面は閉じます</div>
        <div class="right"><div class="config_confirm">決定</div></div>
        <b>トライ</b>
        <table>
            <tr><td>温湿度計</td><td>光センサー</td><td>バッテリ電圧</td><td>育成LED</td><td>夜も光センサー</td></tr>
            <tr><td><span class="btnTry" id="HumiTry">トライ</span></td>
                <td><span class="btnTry" id="LightTry">トライ</span></td>
                <td><span class="btnTry" id="BattTry">トライ</span></td>
                <td><span class="btnTry" id="LEDTry">トライ</span></td>
                <td><span class="btnTry" id="NightSense">測定しない</span></td></tr>
        </table>
        <br>
        <b>場所</b><br>
        <label for="place">　地域：<input type="text" name="place" id="place" class="w1 left"></label><br>
        <label for="lat">　緯度：<input type="text" name="lat" id="lat" class="w1 right"></label>　
        <label for="lon">　経度：<input type="text" name="lon" id="lon" class="w1 right"></label>　
        <label for="elev">　標高：<input type="text" name="elev" id="elev" class="w1 right"></label><br>
        <br>
        バッテリー設定<br>
        <table>
            <tr><td>Ah</td><td>消費電力</td><td>LED数</td><td>電圧</td><td>バッテリ数</td></tr>
            <tr><td><input type="text" id="Ah" class="w05 right"></label></td>
                <td><input type="text" id="power" class="w05 right"></label></td>
                <td><input type="text" id="LEDcnt" class="w05 right"></label></td>
                <td><input type="text" id="voltage" class="w05 right"></label></td>
                <td><input type="text" id="BTcnt" class="w05 right"></label></td>
            </tr>
        </table>
        <table class="calc">
            <tr>
                <td class="d2 left">バッテリ満充電</td>
                <td class="d2 left"><span id="calc_maxwh"></span></td>
            </tr>
            <tr>
                <td>朝夕の点灯1.5H分に必要な量</td>
                <td><span id="calc_needwh"></span></td>
            </tr>
            <tr>
                <td>バッテリ残＋充電見込み</td>
                <td><span id="calc_totalwh"></span></td>
            </tr>
            <tr>
                <td>LED点灯を中止する残量 5%</td>
                <td><span id="calc_leastwh"></span></td>
            </tr>
        </table>
    </form>
</div>
<!-- メイン画面 !-->
<table class="top">
<tr>
<td class="left"><span class="title">AgriBecky</span></td>
<td class="right">
    <span id="btnConfig"><img src="{{url_for('static', filename='images/icon_config.png')}}"></span>
    <span id="btnAdmin"><img src="{{url_for('static', filename='images/icon_admin.png')}}"></span><br>
    <span id="time">　</span></td>
</tr>
</table>

<div class="tabs">
    <input id="btn_main" type="radio" name="tab_item" checked>
    <label class="tab_item" for="btn_main">メイン</label>
    <input id="btn_cpl" type="radio" name="tab_item">
    <label class="tab_item" for="btn_cpl">制御盤</label>
    <input id="btn_log" type="radio" name="tab_item">
    <label class="tab_item" for="btn_log">ログ</label>
    <!-- メイン画面 !-->
    <div class="tab_content" id="main_content">
        <div class="main_msg_ng" id="main_msg"></div>
        <div class="parent">
            <div class="ephem">
                <div class="ephem_content">
                <b>暦</b><br>
                <span id="date">○月○日</span><br>
                　日の出　　<span id="sunrise">00:00</span><br>
                　日の入り　<span id="sunset">00:00</span><br>
                <br>
                　月齢　　　<span id="moon_phase" class="center">14.0</span><br>
                </div>
                <div class="ephem_content">
                <br>
                <img id="moon_image">
                </div>
                <hr>
                <b>設定</b><br>
                育成LEDオン<br>
                　<span id="morning_start">00:00</span> ～ <span id="morning_end">00:00</span><br>
                　<span id="evening_start">00:00</span> ～ <span id="evening_end">00:00</span><br>
                <hr>
                <b>環境</b><br>
                　気温：<span id="temp"></span><br>
                　湿度：<span id="humi"></span><br>
            </div>
            <div class="batt">
                <b>バッテリー残量</b>
                <table class="volt">
                    <tr>
                        <td class="d2 right">残</td>
                        <td class="d2 left"><span id="bp">100</span>%</td>
                    </tr>
                    <tr>
                        <td class="d2 right"><span id="pwh"></span>Wh</td>
                        <td class="d2 left">/ <span id="maxwh"></span>Wh</td>
                    </tr>
                    <tr>
                        <td class="d2 right">電圧　<span id="pv"></span>V</td>
                        <td class="d2 left">/<span id="maxv"></span>V</td>
                    </tr>
                </table>
                <div class="batt_area">
                <div class="batt_graph"><div class="batt_meter"><div class="batt-black" id="batt-black"></div></div><div class="batt_terminal"></div></div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <!-- 制御盤画面 !-->
    <div class="tab_content" id="cpl_content">
        <div class="parent">
            <div class="cpl">
                <b>制御盤</b>　状態：<b id="stateAuto">自動</b><br>
                <br>
                <table>
                    <tr><td class="left">自動</td><td class="right">手動</td>
                        <td class="w1 center">Ready</td>
                        <td class="w1 center">起動</td>
                        <td class="w1 center">停止</td></tr>
                    <tr><td colspan="2"><div id="swAuto"><img src="{{url_for('static', filename='images/sw_l.png')}}" id="imgAuto" class="imgAuto"></div></td>
                        <td class="center"><img src="{{url_for('static', filename='images/btnGreenOff.png')}}" id="lampReady"></td>
                        <td class="center"><img src="{{url_for('static', filename='images/btnOrangeOff.png')}}" id="btnRun"></td>
                        <td class="center"><img src="{{url_for('static', filename='images/btnBlack.png')}}" id="btnStop"></td>
                        </tr>
                </table>
                <br>
                <table>
                    <tr><td>ランプ点灯</td><td>育成LED強制ON</td></tr>
                    <tr><td class="center"><div id="btnAllLight"><img src="{{url_for('static', filename='images/btnRedOff.png')}}" id="imgLight"></div></td>
                        <td class="center"><div id="btnLedOn"><img src="{{url_for('static', filename='images/btnRedOff.png')}}" id="imgLedOn"></div></td></tr>
                </table>
                </td>
                </tr>
                </table>
            </div>
            <div class="sim">
                <b>シミュレーション画面</b>
                <table>
                    <tr>
                        <td class="center">
                            <img src="{{url_for('static', filename='images/tent.jpg')}}" class="tent">
                        </td>
                        <td class="center">
                            <img src="{{url_for('static', filename='images/led_off.png')}}" class="imgled" id="imgLed">
                        </td>
                    </tr>
                    <tr>
                        <td class="center">
                            <table class="tent">
                                <tr><td class="label">①</td>
                                    <td class="label">②</td>
                                    <td class="label">③</td>
                                    <td class="label">④</td>
                                    <td class="label">⑤</td></tr>
                                <tr><td class="lamp"><span id="lamp0">●</span></td>
                                    <td class="lamp"><span id="lamp1">●</span></td>
                                    <td class="lamp"><span id="lamp2">●</span></td>
                                    <td class="lamp"><span id="lamp3">●</span></td>
                                    <td class="lamp"><span id="lamp4">●</span></td></tr>
                            </table>
                        </td>
                        <td class="center">
                            <table class="tent">
                                <tr><td class="label_led">育成LED</td></tr>
                                <tr><td class="lamp_led"><span id="lamp_led">●</span></td></tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="mode" id="mode">モード</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- ログ画面 !-->
    <div class="tab_content" id="log_content">
        <div class="parent">
            <div class="log" id="logbox">
            </div>
            <div class="log_right">
                <div class="lightlog" id="lightlog">
                </div>
                <div class="dailylog" id="dailylog">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
